* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header*/

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 2rem;
  color: whitesmoke;
}
.headerb {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 1rem;
}
.headerbuttons {
  text-decoration: none;
  color: whitesmoke;
}
/*Login*/
#LoginForm {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  margin-left: 30%;
  margin-top: 5rem;
  border: 4px solid whitesmoke;
  margin-right: 30%;
  font-size: 2rem;
  text-align: center;
  color: aqua;
  margin-bottom: 5rem;
  height: 50vh;
  background-color: #0033ff;
  border-radius: 5px;
  box-shadow: 2px 3px 4px 5px;
}
.logininput {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  outline: none;
  border: none;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
#name,
#password {
  width: 100%;
  font-size: 1.5rem;
  color: #ff00ff;
  outline: none;
  border: none;
  padding-left: 0.2rem;
}
#loginbutton {
  font-size: 1.5rem;
}
#loginbutton:hover {
  color: red;
}
